#home {
    width: 50%;
    margin: 0 auto;
    }

#products {
    width: 50%; 
    margin: 0 auto;
    }
#about {
    width: 50%;
    margin: 0 auto;
    }
.resize {
    width: 200px;
    height: 300px;
    }
.a {
    width: 50%;

}
#hos {
    width: 1000%;
    float: left;
}
.a {
    color: red;
}
.b{
    color: orange;
}
.c {
    color: blue;
}
.d{
    color: pink;
}